In [1]:
#Dependencies
import pandas as pd
import numpy as np

#File load
pymoli_purchase_data = "Resources/HeroesOfPymoli_purchase_data.csv"

#Read file and store into pandas data frame
purchase_data_df = pd.read_csv(pymoli_purchase_data)

In [2]:
#Player count (total number of players)

#Count unique SN
player_count = len(purchase_data_df["SN"].unique())

#Put above count in a new df
player_count_df= pd.DataFrame({"Total Players": [player_count]})

#Display df
player_count_df

   Total Players
0            576

In [3]:
#Purchase Analysis (total)

#Calculate each requested variable    
number_unique_items = len(purchase_data_df["Item Name"].unique())
average_price = purchase_data_df["Price"].mean(axis=0)
number_of_purchases = len(purchase_data_df["Purchase ID"].unique())
total_revenue = sum(purchase_data_df["Price"])

#Clean up data with currency format
average_price = "${:.2f}".format(average_price)
total_revenue = "${:.2f}".format(total_revenue)

#Put all calculated variables in a new df
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                                       "Average Price": [average_price],
                                       "Number of Purchases": [number_of_purchases],
                                       "Total Revenue": [total_revenue]})

#Display df
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [4]:
#Gender Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

#Find all unique players
unique_player_df = purchase_data_df.drop_duplicates(subset='SN')

#Count all unique players by gender and make df
gender_count = unique_player_df["Gender"].value_counts()
gender_demographics_df = pd.DataFrame(gender_count)

#Find total player count and calculate percentage
percentage_gender = unique_player_df["Gender"].value_counts(normalize= True).map("{:.2%}".format)

#Add Percentage of Players to df                    
gender_demographics_df["Percentage of Players"]= percentage_gender

#Rename totals column to clean up data
gender_demographics_df = gender_demographics_df.rename(columns={"Gender": "Total Count"})

#Display df
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [5]:
# total purchase value / unique player number

#Purchasing Analysis (Gender)

#Goup data by gender
sorter = purchase_data_df["Gender"].value_counts()
sort_gender = purchase_data_df.groupby(["Gender"])
#gender_count2 = gender_count

#Create df and rename index and first column
purchasing_analysis_gender_df = pd.DataFrame(sorter)
purchasing_analysis_gender_df = purchasing_analysis_gender_df.rename(
    columns= {"Gender": "Purchase Count"})


#Isolate individual columns
total_purchase_value = sort_gender["Price"].sum()
average_purchase_price = sort_gender["Price"].mean()
avg_tot_pur_per_person = (sort_gender["Price"].sum() / gender_count)

#Add in calculated columns and clean
purchasing_analysis_gender_df["Average Purchase Price"] = average_purchase_price.map("${:.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"] = total_purchase_value.map("${:.2f}".format)
purchasing_analysis_gender_df["Avg Total Purchas per Person"] = avg_tot_pur_per_person.map("${:.2f}".format) 

#Clean up and name index
purchasing_analysis_gender_df = purchasing_analysis_gender_df.rename_axis('Gender')
purchasing_analysis_gender_df =purchasing_analysis_gender_df.sort_index()


#Display df
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchas per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [58]:
#Age Demographics

#Create bins and labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 199]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] 

#Add bins and labels to df
purchase_data_df["Age Group"]= pd.cut(purchase_data_df["Age"], age_bins, labels= age_labels)

#Obtain unique player data and make new df
unique_sn_df = purchase_data_df.drop_duplicates(subset='SN')
age_group = unique_sn_df.groupby("Age Group")
age_demographics_df = age_group.count()

#find requested values
total_age_group = age_demographics_df["Gender"].sum()
percentage_age = (age_demographics_df["Gender"] / total_age_group)

#Add column and clean
age_demographics_df["Percentage of Players"] = percentage_age.map("{:.2%}".format)
age_demographics_df = age_demographics_df[["Gender", "Percentage of Players"]] 
age_demographics_df.columns = ["Total Count", "Percentage of Players"]

#Display df
age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [ ]:
#Purchasing Analysis (Age)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value",
        # "Average Purchase Total per Person by Age Group"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Top Spenders (sort total purchase columns decending)
#Columns:["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
#RowS:[SN] (top 5 names)

In [ ]:
#Most Popular Items (sort by Purchase Count decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

#gkk = df.groupby(['Team', 'Position'])

In [ ]:
#Most Profitable Items (sort by Total Purchase Value decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

In [ ]:
#Three written observable trends based on data