In [21]:
#Dependencies
import pandas as pd

#File load
pymoli_purchase_data = "Resources/HeroesOfPymoli_purchase_data.csv"

#Read file and store into pandas data frame
purchase_data_df = pd.read_csv(pymoli_purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
#Player count (total number of players)
player_count = len(purchase_data_df["Purchase ID"].unique())
player_count_df= pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            780

In [1]:
#Purchase Analysis (total)
#Columns: ["number of Number of Unique Items", "Average Purchase Price", 
            #"Total Number of Purchases", "Total Revenue"]

In [2]:
#Gender Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

In [ ]:
#Purchasing Analysis (Gender)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
        #"Average Purchase Total per Person by Gender"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

In [ ]:
#Age Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Purchasing Analysis (Age)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value",
        # "Average Purchase Total per Person by Age Group"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Top Spenders (sort total purchase columns decending)
#Columns:["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
#RowS:[SN] (top 5 names)

In [ ]:
#Most Popular Items (sort by Purchase Count decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

In [ ]:
#Most Profitable Items (sort by Total Purchase Value decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

In [ ]:
#Three written observable trends based on data