In [76]:
# Dependencies
import pandas as pd
import numpy as np

# File load
pymoli_purchase_data = "Resources/HeroesOfPymoli_purchase_data.csv"

# Read file and store into pandas data frame
purchase_data_df = pd.read_csv(pymoli_purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [73]:
# Player count (total number of players)

# Count unique SN
player_count = len(purchase_data_df["SN"].unique())

# Put above count in a new df
player_count_df= pd.DataFrame({"Total Players": [player_count]})

# Display df
player_count_df

   Total Players
0            576

In [74]:
# Purchase Analysis (total)

# Calculate each requested variable    
number_unique_items = len(purchase_data_df["Item Name"].unique())
average_price = purchase_data_df["Price"].mean(axis=0)
number_of_purchases = len(purchase_data_df["Purchase ID"].unique())
total_revenue = sum(purchase_data_df["Price"])

#Clean up data with currency format
average_price = "${:.2f}".format(average_price)
total_revenue = "${:.2f}".format(total_revenue)

# Put all calculated variables in a new df
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                                       "Average Price": [average_price],
                                       "Number of Purchases": [number_of_purchases],
                                       "Total Revenue": [total_revenue]})

# Display df
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [211]:
#Gender Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

#Find all unique players
unique_player_df = purchase_data_df.drop_duplicates(subset='SN')

#Count all unique players by gender and make df
gender_count = unique_player_df["Gender"].value_counts()
gender_demographics_df = pd.DataFrame(gender_count)

#Rename totals to clean up data
gender_demographics_df = gender_demographics_df.rename(columns={"Gender": "Total Count"})

#find total player count and calculate percentage
percentage_gender = unique_player_df["Gender"].value_counts(normalize= True).mul(100).round(2).astype(str) + '%'

#Add Percent oof Players to df                    
gender_demographics_df["Percentage of Players"]= percentage_gender

#Display df
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [109]:
#Purchasing Analysis (Gender)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
        #"Average Purchase Total per Person by Gender"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

# Make a DF with requested rows


unique_player_group = purchase_data_df.groupby(["Gender"])
unique_player_group_df = unique_player_group.mean()

#total_revenue = sum(purchase_data_df["Price"]

#unique_player_group_df

# Add columns to df

# Name index
#gender_purchase_analysis_df.index.name = "Gender"

# Display df
#gender_purchase_analysis_df

In [ ]:
#Age Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Purchasing Analysis (Age)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value",
        # "Average Purchase Total per Person by Age Group"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Top Spenders (sort total purchase columns decending)
#Columns:["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
#RowS:[SN] (top 5 names)

In [ ]:
#Most Popular Items (sort by Purchase Count decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

#gkk = df.groupby(['Team', 'Position'])

In [ ]:
#Most Profitable Items (sort by Total Purchase Value decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

In [ ]:
#Three written observable trends based on data