In [2]:
#Dependencies
import pandas as pd
import numpy as np

#File load
pymoli_purchase_data = "Resources/HeroesOfPymoli_purchase_data.csv"

#Read file and store into pandas data frame
purchase_data_df = pd.read_csv(pymoli_purchase_data)

In [3]:
#Player count (total number of players)

#Count unique SN
player_count = len(purchase_data_df["SN"].unique())

#Put above count in a new df
player_count_df= pd.DataFrame({"Total Players": [player_count]})

#Display df
player_count_df

   Total Players
0            576

In [4]:
#Purchase Analysis (total)

#Calculate each requested variable    
number_unique_items = len(purchase_data_df["Item Name"].unique())
average_price = purchase_data_df["Price"].mean(axis=0)
number_of_purchases = len(purchase_data_df["Purchase ID"].unique())
total_revenue = sum(purchase_data_df["Price"])

#Clean up data with currency format
average_price = "${:.2f}".format(average_price)
total_revenue = "${:.2f}".format(total_revenue)

#Put all calculated variables in a new df
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                                       "Average Price": [average_price],
                                       "Number of Purchases": [number_of_purchases],
                                       "Total Revenue": [total_revenue]})

#Display df
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
#Gender Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: ["Male". "Female", "Other / Non-Disclosed"]

#Find all unique players
unique_player_df = purchase_data_df.drop_duplicates(subset='SN')

#Count all unique players by gender and make df
gender_count = unique_player_df["Gender"].value_counts()
gender_demographics_df = pd.DataFrame(gender_count)

#Find total player count and calculate percentage
percentage_gender = unique_player_df["Gender"].value_counts(normalize= True).mul(100).round(2).astype(str) + '%'

#Add Percentage of Players to df                    
gender_demographics_df["Percentage of Players"]= percentage_gender

#Rename totals column to clean up data
gender_demographics_df = gender_demographics_df.rename(columns={"Gender": "Total Count"})

#Display df
gender_demographics_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
####???? How to calculate average total purchase per person???? 
# total purchase value / unique player number

#Purchasing Analysis (Gender)

#Goup data by gender
sorter = purchase_data_df["Gender"].value_counts()
sort_gender = purchase_data_df.groupby(["Gender"])
#gender_count2 = gender_count

#Create df and rename index and first column
purchasing_analysis_gender_df = pd.DataFrame(sorter)
purchasing_analysis_gender_df = purchasing_analysis_gender_df.rename(
    columns= {"Gender": "Purchase Count"})


#Isolate individual columns
total_purchase_value = sort_gender["Price"].sum()
average_purchase_price = sort_gender["Price"].mean().round(2)
avg_tot_pur_per_person = (sort_gender["Price"].sum() / gender_count).round(2)

#Add in calculated columns
purchasing_analysis_gender_df["Average Purchase Price"] = average_purchase_price
purchasing_analysis_gender_df["Total Purchase Value"] = total_purchase_value
purchasing_analysis_gender_df["Avg Total Purchas per Person"] = avg_tot_pur_per_person 

#Clean up and name index
purchasing_analysis_gender_df = purchasing_analysis_gender_df.rename_axis('Gender')
purchasing_analysis_gender_df =purchasing_analysis_gender_df.sort_index()

#avg_total_per_person_gender =
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchas per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [254]:
#Age Demographics
#Columns: ["Total Count", "Percentage of Players"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Purchasing Analysis (Age)
#Columns: ["Purchase Count", "Average Purchase Price", "Total Purchase Value",
        # "Average Purchase Total per Person by Age Group"]
#Rows: [ <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+]

In [ ]:
#Top Spenders (sort total purchase columns decending)
#Columns:["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
#RowS:[SN] (top 5 names)

In [ ]:
#Most Popular Items (sort by Purchase Count decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

#gkk = df.groupby(['Team', 'Position'])

In [ ]:
#Most Profitable Items (sort by Total Purchase Value decending)
#Column: ["Purchase Count", "Item Price", "Total Purchase Value"]
#Rows: ["Item ID"](of top 5 items: item number then item name)

In [ ]:
#Three written observable trends based on data